img{
    
border: 10px;
border-radius: 9%;
display:flex;
flex-wrap: wrap;


}
h2{ font-size: 70px;}
iframe{display: block;
    margin-left: 400px;
    border: 5px solid blueviolet;
    border-radius: 10%;
}

span{font-size: 22px;
    text-align: justify;
}
nav{
background-color: rgb(13, 13, 13);
font-size: 35px;
text-align: center;

}
a{ text-decoration: none;
    padding: 100px;
    
    color: rgb(225, 225, 225);
}
img.d{
    border: 6px solid rgb(37, 226, 226);
 
display: inline;
display: inline-flex;
margin-left: 150px;

}
img.e{
    display: inline-flexbox;

    display: inline;
    

    margin-left: 100px;
    border: 10px solid gray;
}
img.f{display: inline-flexbox;
    
    display: inline;
    

    margin-left: 300px;
border: 6px solid black;}
body{



}



/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer {
    background-color: rgb(15, 13, 13);
    padding: 70px 0;

}
.col{

    width: 25%;
    padding:0 15px ;
color: azure;
}
.col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;}